.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: white;
}

.text-centered {
  text-align: center;
}

.font-light {
  font-weight: 300;
}

.font2xl {
  line-height: 1.2;
  font-size: 1.25rem;
}
